* {
    padding: 0;
    margin: 0;
}

.main-curtain-image {
    position: absolute;
    top: 180px;
    width: 100%;
    height: 200px;
    background: url('../../assets/bedding-pano.png') center/contain no-repeat;
}

.custom-made-curtains-text,
.dim-out-curtains-text,
.black-out-curtains-text,
.sheer-curtains-text,
.STELLA-2-curtains-text {
    width: 100%;
    height: 100px;
    position: absolute;
    text-align: center;
}

.dim-out-curtains-text {
    top: 500px;
}

.black-out-curtains-text {
    top: 1200px;
}

.sheer-curtains-text {
    top: 2800px;
}

.STELLA-2-curtains-text {
    top: 4000px;
}

.dim-out-curtain-cards,
.black-out-curtain-cards,
.sheer-curtain-cards,
.STELLA-2-curtain-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    height: 500px;
}

.dim-out-curtain-cards {
    top: 600px;
}

.black-out-curtain-cards {
    top: 1300px;
}

.sheer-curtain-cards {
    top: 3000px;
}

.STELLA-2-curtain-cards {
    top: 4100px;
}

.dim-out-curtains-line,
.black-out-curtains-line,
.sheer-curtains-line,
.STELLA-2-curtains-line {
    width: 33%;
    height: 1px;
    background-color: rgba(58, 58, 58, 0.438);
}

.dimout-image-1,
.dimout-image-2 {
    width: 100%;
}

.card {
    border-radius: 0;
    border: none;
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.45);
}

.row-2 {
    top: 1800px;
}

.row-3 {
    top: 2300px;
}

.row-4 {
    top: 2800px;
}

.row-5 {
    top: 3300px;
}
.footer{
    position: absolute;
    height: 500px;
    top: 2300px;
}

@media screen and (max-width: 1278px) {
    .main-curtain-image {
        top: 10%;
    }
}

@media screen and (max-width: 767px) {
    .main-curtain-image {
        top: 10%;
    }

    .custom-made-curtains-text {
        top: 250px;
    }

    .dim-out-curtains-text {
        top: 320px;
    }

    .dim-out-curtain-cards {
        top: 550px;
    }

    .dimout-image-1,
    .dimout-image-2 {
        width: 50%;
    }

    .black-out-curtains-text {
        top: 800px;
    }

    .black-out-curtain-cards {
        top: 1900px;
    }

    .sheer-curtains-text {
        top: 3000px;
    }

    .sheer-curtain-cards {
        top: 3500px;
    }
    .footer{
        position: absolute;
        height: 500px;
        top: 2800px;
    }
    
}

@media screen and (max-width: 540px) {
    .main-curtain-image {
        top: 17%;
        height: 100px;
    }

    .custom-made-curtains-text {
        top: 250px;
    }

    .dim-out-curtains-text {
        top: 320px;
    }

    .dim-out-curtain-cards {
        top: 550px;
    }

    .dimout-image-1,
    .dimout-image-2 {
        width: 50%;
    }

    .black-out-curtains-text {
        top: 1200px;
    }

    .black-out-curtain-cards {
        top: 1600px;
    }

    .sheer-curtains-text {
        top: 3000px;
    }

    .sheer-curtain-cards {
        top: 3500px;
    }
    
}
