.footer-block{
    height: 90%;
    width: 100%;
}
@media screen and (max-width: 768px){
    .contact-us-text{
        text-align: center;
    }
    .footer-block{
    height: 90%;
    width: 100%;
}
@media screen and (max-width: 768px){
    .contact-us-text{
        text-align: center;
    }
    
}
/* Changed */
@media screen and (max-width: 468px){
    .footer-block h3{
        font-size: 40px;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .footer-logo{
        width: 100%;
        height: 80%;
    }
    
}
/* Changed */
}
